[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
pyyaml = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
types-requests = "*"
types-pyyaml = "*"

[requires]
python_version = "3.9"
